*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'OpenSans';
	min-height: 100%;
	margin: 0;
	padding: 0;
}

.scoreboard {
	position: relative;
	left: 50px;
	width: 800px;
}

.scoreboard h1{
	display: inline-block;
	position: relative;
	text-align: center;
	font-size: 3rem;
	text-transform: uppercase;
	margin: 0;
	left: 300px;
}

.scoreboard .score {
	font-size: 3rem;
}

.scoreboard .player-score {
	float: right;
}

.scoreboard .computer-score {
	float: left;
}

canvas#pong-table {
	background-color: blue;
	position: relative;
	top: 0;
	left: 50px;
}